# Shopping Cart Engine Environment Configuration

# MongoDB Connection
MONGODB_URI=mongodb+srv://aarohigattewar_db_user:TjGFTVlue7wfcQfU@cluster0.begs3e8.mongodb.net/?appName=Cluster0


# Server Configuration
NODE_ENV=development
PORT=3000


